<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link href="/css-folder/form.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"crossorigin> <link href="
    https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header-logo" onclick='window.location.reload()'>
            <img id="header-img" src="../assets/logo.png" style="width: 45px;height: 45px;" >
            <div class="employee-logo">
                <div style="color:#82a70c;font-weight: bold;">
                    <span>EMPLOYEE</span>
                </div>
                <div style="color: #42515f;font-weight: bold;padding-top: 0px; margin-top:0px;">
                    <span>PAYROLL</span>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="form-box">
            <form id="form">
                <h3 style="color:#42515f">Employee Payroll Form</h3>
                <span>
                    <label for="name">Name </label>
                    <input type="text" id="name" name="name"/>
                </span>
                <br>
                <span class="profile">
                    <label style="width:90px" >Profile Image</label>
                    <input type="radio" id="img1" name="img" value="../assets/Ellipse -1.png"/>
                    <label for="img1" name="img">
                        <img src="../assets/Ellipse -1.png" >
                    </label>
                    <input type="radio" id="img2" name="img" value="../assets/Ellipse -2.png"/>
                    <label for="img2" name="img">
                        <img src="../assets/Ellipse -2.png" >
                    </label>
                    <input type="radio" id="img3" name="img" value="../assets/Ellipse -3.png"/>
                    <label for="img3" name="img">
                        <img src="../assets/Ellipse -3.png" >
                    </label>
                    <input type="radio" id="img4" name="img" value="../assets/Ellipse -4.png"/>
                    <label for="img4" name="img">
                        <img src="../assets/Ellipse -4.png">
                    </label>
                </span>
                <br>
                <span style="color:#42515f;">
                    <label required>Gender</label>
                    <input type="radio" id="Male" name="gender" value="Male">
                    <label for="male">Male</label>
                    <input type="radio" id="Female" name="gender" value="Female">
                    <label for="female">Female</label>
                </span>
                <br>
                <span>
                    <label required>Department</label>
                    <input type="checkbox" id="dept1" name="department" value="HR">
                    <label for="dept1" style="width:17px ;"> HR</label>
                    <input type="checkbox" id="dept2" name="department" value="Finance">
                    <label for="dept2" style="width:42px ;">Finance</label>
                    <input type="checkbox" id="dept3" name="department" value="Sales">
                    <label for="dept3" style="width:30px ;">Sales</label>
                    <input type="checkbox" id="dept4" name="department" value="Engineer">
                    <label for="dept4" style="width:49px ;">Engineer</label>
                    <input type="checkbox" id="dept5" name="department" value="Others">
                    <label for="dept5">Others</label>
                </span>
                <br>
                <span style="color:#42515f;">
                    <label for="salary" required>Salary</label>
                    <select style="width:150px; color:#42515f;" id="salary" name="salary">
                        <option selected="select" disabled="disabled">Select Salary</option>
                        <option value="10000">10000</option>
                        <option value="20000">20000</option>
                        <option value="30000">30000</option>
                        <option value="40000">40000</option>
                    </select>
                </span> 
                <br> 
                <span>
                    <label required>Start Date</label>
                    <select  style="color:#42515f;"id="day" name="day">
                        <option selected="select" disabled="disabled">Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="10">30</option>
                        <option value="11">31</option>
                    </select>
                    <select  style="color:#42515f;" id="month" name="month">
                        <option selected="select" disabled="disabled" required>Month</option>
                        <option value="Jan">January</option>
                        <option value="Feb">Febuary</option>
                        <option value="Mar">March</option>
                        <option value="Apr">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="Aug">August</option>
                        <option value="Sept">September</option>
                        <option value="Oct">October</option>
                        <option value="Nov">November</option>
                        <option value="Dec">December</option>
                    </select>
                    <select  style="color:#42515f;" id="year" name="year">
                        <option selected="select" disabled="disabled" required >Year</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                </span>
                <br>
                <span>
                    <label required>Notes</label>
                    <textarea name="notes" id="notes"></textarea>
                </span> 
                <br>
            <div class="buttons">
                    <button><a href="/index.html" style="text-decoration:none">Cancel</a></button>
                <div>
                    <button onclick="onSubmit(event)">Submit</button>
                    <button onclick="onReset()">Reset</button>
                </div>
            </div>
            </form>
        </div>    
    </div>
    <script src="/js-folder/jqueryjs.js"></script>
    <script src="../js-folder/form.js"></script>
</body>
</html>