.roboto-regular { 
      font-family: "Roboto", sans-serif;   
      font-weight: 400;   
      font-style: normal; 
}
body{
    font-family:"Roboto", sans-serif;
    font-size: small;
    font-weight: 400;
}
h3{
    font-size: 18px;
}
h1{
    color:black;
}
#header-logo{
    display:flex;

}
header{
    background-color:white;
}
#header-img{
    padding: 10px 0px 10px 70px;
}
#main-body{
    background-color: rgb(250, 246, 246);  
}
i.material-icons{
    color: #658292;
    display:flex row space-between;
    font-size: 18px;
}
#adduser{
    background-color: #82a70c;
    color:white;
    margin: 0%;
    border: 0cm;
    padding: 5px 25px 7px 25px;
    border-radius: 3px;
}
.material-icons{
    color:white;
}
th{
    background-color: #42515f;
    color: rgb(250, 246, 246);;
    flex-direction:column;
    padding: 15px;
}
td{
    border-bottom: 1px rgb(250, 246, 246);
    padding:5px;
    border:#E3E3E3;
    background-color: white ;
    font-size: 16px;
    color:#3D3D3D;
}
tr{ 
    text-align: center;
    padding: 10px;
    margin:50px;
    border-bottom: 2pt solid rgb(250, 246, 246);
}
span.span{
    background-color: #e9fea5;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;

}
#employeetable{
    padding: 1px 70px 50px 70px;
    border:rgb(250, 246, 246);
    border-radius:10%;
}
#mainbodyheader{
    padding: 10px 70px 10px 70px;
    display:flex;
    color:#42515F;
    font-size: 28px;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
}
.employee-logo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1px;
    font-size: 18px;
}
/* flex box 
justify-content
flex direction */

.form-popup {
    display: none;
    top: 50%;
    left: 40%;
    border: 5px solid #f1f1f1;
    z-index: 9;
    position: absolute;
    margin:10px;
    background-color: white;
    padding:50px;
    font-size: medium;
  }
  .backdrop {
    display: none;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 7;
    width: 100%;
    height: 135vh;
    position: absolute;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }