.roboto-regular { 
      font-family: "Roboto", sans-serif;   
      font-weight: 400;   
      font-style: normal; 
}
body{
    font-family:"Roboto", sans-serif;
    font-size: small;
    font-weight: 400;
}
h3{
    font-size: 18px;
}
h1{
    color:black;
}
#header-logo{
    display:flex;
}
header{
    background-color:white;
}
#header-img{
    padding: 10px 0px 10px 70px;
}
#main-body{
    background-color: rgb(250, 246, 246);
    
}
#payroll{
   font-size:medium;

}
#employee-logo{
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
}
#adduser{
    background-color: #82a70c;
    color:white;
    margin: 0%;
    border: 0cm;
    padding: 10px 25px 10px 25px;
    border-radius: 5%;
}
th{
    background-color: #42515f;
    color: rgb(250, 246, 246);;
    flex-direction:column;
    padding: 15px;
}
td{
    border-bottom: 1px rgb(250, 246, 246);
    padding:10px;
    border:rgb(250, 246, 246) ;
    background-color: white ;
}
tr{ 
    text-align: center;
    padding: 10px;
    margin:50px;
    border-bottom: 2pt solid rgb(250, 246, 246);
}
span{
    background-color: #e9fea5;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;

}
#employeetable{
    padding: 1px 70px 50px 70px;
    border:rgb(250, 246, 246);

}
#mainbodyheader{
    padding: 10px 70px 10px 70px;
    display:flex;
    color:#42515F;
    font-size: 28px;
    justify-content: space-between;
    align-items: center;

}
